<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.com.thetechnocafe.eventos">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/calendar"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WalkthroughActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".HomeStreamActivity"/>
        <activity android:name=".DetailActivity"/>
        <activity android:name=".AboutActivity"/>
        <activity android:name=".CommentsActivity"/>
        <activity android:name=".SigninActivity"/>
        <activity android:name=".AddTrackEventActivity"/>
        <activity android:name=".AddEventActivity"/>
        <activity android:name=".TrackEventActivity"/>
        <activity android:name=".OutsideEventActivity"/>
        <activity android:name=".FavouriteActivity"/>
        <activity android:name=".WebViewActivity"/>
        <activity android:name=".SignUpActvity">
        </activity>
        <activity android:name=".CalendarViewActivity">
        </activity>
    </application>

</manifest>